{% load static %}
<!DOCTYPE html>
<html lang="tr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css", href="{% static 'css/main.css'%}">
    <title>Niğde İl Milli Eğitim Müdürlüğü - Kütüphane Otomasyonu</title>
    <link rel = "icon" href = "{% static 'images/icon.png'%}" type = "image/x-icon">
  </head>
  <body >
    <div class="content">

        <div class="header">

          <div class="header-child">
            <a href="http://www.meb.gov.tr/" target="_self" >
                <img class="logo" src="{% static 'images/logo.png'%}" alt="logo">
            </a>
          </div>

          <div class="header-child" >
            <img class="atam" src="{% static 'images/ataturk.png'%}" alt="Atam">
          </div>

        </div>

        <hr>
        <div class="greeting">
          {% if user.is_superuser %}
          <h3>Hoşgeldiniz, Yönetici!</h3>
          {% else %}
          {% if user.is_authenticated %}
          <h3>Hoşgeldiniz, {{ user.username|default:'Misafir' }} Kullanıcısı!</h3>
          {% else %}
          <h3>Hoşgeldiniz!</h3>
          {% endif %}
          {% endif %}
        </div>

        <nav>
          <a href="{% url 'mainapp:index' %}">Anasayfa</a>&nbsp;
          {% if user.is_superuser %}
                <a href="{% url 'mainapp:admin_report' %}">Raporlar</a>&nbsp;
          {% else %}
            {% if user.is_authenticated %}
                <a href="{% url 'mainapp:inventory' %}">Ödünç Verme</a>&nbsp;
                <a href="{% url 'mainapp:take_back' %}">İade İşlemleri</a>&nbsp;
                <a href="{% url 'mainapp:searchbook' %}">Kitap Ekleme</a>&nbsp;
                <a href="{% url 'mainapp:report' %}">Raporlar</a>&nbsp;
            {% endif %}
          {% endif %}

          {% if user.is_authenticated %}
              <a href="{% url 'logout' %}">Oturumu kapat</a>
          {% else %}
              <a href="{% url 'login' %}">Oturum aç</a>
          {% endif %}
        </nav>
        <hr>
      <br>


      {%block content%}
      {%endblock content%}

    <p class="geri">
        <a  href="#" onclick="history.go(-1)">Önceki Sayfa</a>
    </p>
      <hr>
      <footer>
        <p>
          &copy - 2022
        </p>


      </footer>
  </div>
  </body>
</html>
