<!DOCTYPE html>
<html lang="tr" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body >
    <h3>Hoşgeldiniz, {{ user.username|default:'Misafir' }}, Kullanıcısı!</h3>
    <a href="{% url 'mainapp:index' %}">Anasayfa</a>&nbsp;

    {% if user.is_authenticated %}
        <a href="{% url 'mainapp:inventory' %}">Ödünç Verme</a>&nbsp;
        <a href="{% url 'mainapp:take_back' %}">İade İşlemleri</a>&nbsp;
        <a href="{% url 'mainapp:searchbook' %}">Kitap Ekleme</a>&nbsp;
        <a href="{% url 'mainapp:report' %}">Raporlar</a>&nbsp;

    {% endif %}

    {% if user.is_staff %}
        <a href="{% url 'mainapp:users' %}">((Kullanıcı Ekleme))</a>&nbsp;
    {% endif %}

    {% if user.is_superuser %}
        <a href="{% url 'mainapp:units' %}">Kurumlar</a>&nbsp;
        <a href="{% url 'mainapp:libraries' %}">Kütüphaneler</a>&nbsp;
    {% endif %}


    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Oturumu kapat</a>
    {% else %}
        <a href="{% url 'login' %}">Oturum aç</a>
    {% endif %}
    <br>
    <br>

    {%block content%}
    {%endblock content%}
  </body>
</html>
