{% extends './base.html' %}
{% load static %}
{% block content %}
  {% csrf_token %}
<strong>Anasayfa</strong>
<br>
<br>

<span style="color:red">{{msg}}</span>

<br>

<form method="post">
  {% csrf_token %}
  <select name="search_type" id="search_type">
      <option value="title">Kitap Adı</option>
      <option value="isbn">ISBN</option>
      <option value="writer">Yazar</option>
    </select>
    <select name="which_unit" id="which_unit">
      <option value="all">Tüm Kütüphaneler</option>
      {%for u in units%}
        <option value="{{u.id}}">{{u}}</option>
      {% endfor %}
      </select>

  <input type="text" name="search_text">
  <input type="submit" name="search" value="Ara">
  <br>
  <br>
</form>
<table class="books-table">
  <tr>
      <th>
          <h4>ISBN</h4>
      </th>
      <th>
          <h4>Kitap Adı</h4>
      </th>
      <th>
          <h4>Yazar</h4>
      </th>
</tr>

{% if liste %}
  {%for l in liste%}
    <tr>
      <td>
        <a href="/kutuphane/which_lib/{{l.isbn}}">{{l.isbn}}</a>
      </td>
      <td>
        {{l.title}}
      </td>
      <td>
        {{l.writer}}
      </td>
    </tr>
  {%endfor%}
{% else %}
  {%for l in lib_set%}
    <tr>
      <td>
        <a href="/which_lib/{{l.book.isbn}}">{{l.book.isbn}}</a>
      </td>
      <td>
        {{l.book.title}}
      </td>
      <td>
        {{l.book.writer}}
      </td>
    </tr>
  {%endfor%}
  {%endif%}
</table>
<div class="page-selectors">
  {% if liste.has_previous %}
    <a href="?page={{ liste.previous_page_number}}">Önceki</a>
  {% endif %}
  {% if liste.has_next %}
    <a href="?page={{ liste.next_page_number}}">Sonraki</a>
  {% endif %}
</div>

{% endblock %}
