{% extends './base.html' %}

{% block content %}
<strong>Anasayfa</strong>

<br>
<span style="color:red">{{msg}}</span>
<br>

<form method="post">
  {% csrf_token %}
  <select name="search_type" id="search_type">
      <option value="title">Kitap Adı</option>
      <option value="isbn">ISBN</option>
      <option value="writer">Yazar</option>
    </select>
    <select name="which_unit" id="which_unit">
      <option value="all">Tüm Kütüphaneler</option>
      {%for u in units%}
        <option value="{{u.id}}">{{u}}</option>
      {% endfor %}
      </select>
      <br>
  <input type="text" name="search_text">
  <input type="submit" name="search" value="Ara">
  <br>
</form>
<table border='1'>
  <tr>
      <td>
          <h4>ISBN</h4>
      </td>
      <td>
          <h4>Kitap Adı</h4>
      </td>
      <td>
          <h4>Yazar</h4>
      </td>
</tr>

{% if liste %}
  {%for l in liste%}
    <tr>
      <td>
        <a href="/which_lib/{{l.isbn}}">{{l.isbn}}</a>
      </td>
      <td>
        {{l.title}}
      </td>
      <td>
        {{l.writer}}
      </td>
    </tr>
  {%endfor%}
{% else %}
  {%for l in lib_set%}
    <tr>
      <td>
        <a href="/which_lib/{{l.book.isbn}}">{{l.book.isbn}}</a>
      </td>
      <td>
        {{l.book.title}}
      </td>
      <td>
        {{l.book.writer}}
      </td>
    </tr>
  {%endfor%}
  {%endif%}
</table>


{% endblock %}
