{% extends './base.html' %}

{% block content %}
<strong>Ödünç Verme İşlemleri</strong>
<form method="post">
  {% csrf_token %}
  ISBN :
  <input type="text" name="search_text">
  <input type="submit" name="search" value="Ara">
</form>
<table border='1'>
  <tr>
      <td>
          <h4>ISBN</h4>
      </td>
      <td>
          <h4>Kitap Adı</h4>
      </td>
      <td>
          <h4>Yazar</h4>
      </td>
      <td>
          <h4>Ödünçtekiler</h4>
      </td>
      <td>
          <h4>Toplam</h4>
      </td>
</tr>
{%for z in liste%}

  <tr>
  <td>
    {%if z.on_lending < z.amount %}
        <a href="/lending/{{z.id}}">{{z.book.isbn}}</a>
    {%else%}
        {{z.book.isbn}}
    {%endif%}
  </td>
  <td>
    {{z.book.title}}
  </td>
  <td>
    {{z.book.writer}}
  </td>
  <td>
    {{ z.on_lending }}
  </td>
  <td>
    {{ z.amount }}
  </td>
</tr>
{%endfor%}
</table>
{% endblock %}
