{% extends './base.html' %}

{% block content %}
<strong>Ödünç Verme İşlemleri</strong>
<form method="post">
  {% csrf_token %}
  ISBN :
  <input type="text" name="search_text">
  <input type="submit" name="search" value="Ara">
</form>
<table border='1'>
  <tr>
      <td>
          <h4>ISBN</h4>
      </td>
      <td>
          <h4>Kitap Adı</h4>
      </td>
      <td>
          <h4>Yazar</h4>
      </td>
</tr>
{%for l in liste%}

  <tr>
  <td>
        <a href="/inventory/{{l.id}}">{{l.book.isbn}}</a>

  </td>
  <td>
    {{l.book.title}}
  </td>
  <td>
    {{l.book.writer}}
  </td>

</tr>
{%endfor%}
</table>
{% endblock %}
