{% extends './base.html' %}

{% block content %}
<strong>Kitap Ekleme</strong><br>
Eklemek istediğiniz kitabı "isbn" ile aratınız<br>
{{msg}}
<form method="post">
  {% csrf_token %}
  ISBN :
  <input type="text" maxlength="13" name="search_text">
  <input type="submit" name="search" value="Ara">
</form>
<form method="post">
  <table class="books-table">
    <tr>
        <th>
            <h4>ISBN</h4>
        </th>
        <th>
            <h4>Kitap Adı</h4>
        </th>
        <th>
            <h4>Yazar</h4>
        </th>
        <th>
            <h4> </h4>
        </th>
  </tr>
  {%for l in liste%}

    <tr>
    <td>
      <a href="/books/{{l.isbn}}">{{l.isbn}}</a>
    </td>
    <td>
      {{l.title}}
    </td>
    <td>
      {{l.writer}}
    </td>
  </tr>
  {%endfor%}
  </table>
</form>
<div class="page-selectors">
  {% if liste.has_previous %}
    <a href="?page={{ liste.previous_page_number}}">Önceki</a>
  {% endif %}
  {% if liste.has_next %}
    <a href="?page={{ liste.next_page_number}}">Sonraki</a>
  {% endif %}
</div>
{% endblock %}
