{% extends './base.html' %}

{% block content %}
<strong>Bulunan Kütüphaneler</strong>
{{nsg}}
<form method="post">
  {% csrf_token %}
</form>
<table class="books-table">
  <tr>
      <th>
          <h4>ISBN</h4>
      </th>
      <th>
          <h4>Kitap Adı</h4>
      </th>
      <th>
          <h4>Yazar</h4>
      </th>
      <th>
          <h4>Tür</h4>
      </th>
      <th>
          <h4>Sayfa Sayısı</h4>
      </th>
      <th>
          <h4>Kütüphaneler</h4>
      </th>
</tr>


  <tr>
  <td>
    {{book.isbn}}
  </td>
  <td>
    {{book.title}}
  </td>
  <td>
    {{book.writer}}
  </td>
  <td>
    {{book.genre}}
  </td>

  <td>
    {{book.pages}}
  </td>
  <td>
    {%for unit in units%}
    {{unit}}<br>
    {%endfor%}
  </td>

</tr>

</table>
{% endblock %}
